.SignIn {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.registerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phoneInput {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.hidden {
  display: none;
}

h3 {
  position: absolute;
  top: 25%;
}

.Error {
  color: red;
  margin-left: 25px;
  position: absolute;
}

.otp-input {
  direction: ltr;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}
