.Gallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.galleryContext {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image {
  border: 5px solid transparent;
  border-image: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 10px,
      #df5646 10px,
      #df5646 20px,
      #fff 20px,
      #fff 30px,
      #1c78a4 30px,
      #1c78a4 40px
    )
    12/10px;
  box-sizing: border-box;
}
